<header id = "page_head">All Mechanics</header>
<section id = "mechanics_list">
  <table>
    <% @mechanics.each do |mechanic| %>
      <tr>
        <td ><%= mechanic.name %></td>
        <td ><%= "#{mechanic.experience} years of experience" %></td>
      </tr>
    <% end %>
  </table>
